.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
*.so
remphasis.Rcheck/00_pkg_src/remphasis/man/emphasis.Rd
remphasis.Rcheck/00_pkg_src/remphasis/man/locate_plugin.Rd
remphasis.Rcheck/00_pkg_src/remphasis/man/remphasis-package.Rd
remphasis.Rcheck/00_pkg_src/remphasis/NAMESPACE
remphasis.Rcheck/00_pkg_src/remphasis/R/emphasis.R
remphasis.Rcheck/00_pkg_src/remphasis/R/locate_plugin.R
remphasis.Rcheck/00_pkg_src/remphasis/R/RcppExports.R
remphasis.Rcheck/00_pkg_src/remphasis/src/augment_tree.cpp
remphasis.Rcheck/00_pkg_src/remphasis/src/dyn_wrapper-558cbf5c.o.tmp
remphasis.Rcheck/00_pkg_src/remphasis/src/dyn_wrapper.cpp
remphasis.Rcheck/00_pkg_src/remphasis/src/E_step.cpp
remphasis.Rcheck/00_pkg_src/remphasis/src/M_step.cpp
remphasis.Rcheck/00_pkg_src/remphasis/src/Makevars
remphasis.Rcheck/00_pkg_src/remphasis/src/Makevars.win
remphasis.Rcheck/00_pkg_src/remphasis/src/mcem.cpp
remphasis.Rcheck/00_pkg_src/remphasis/src/rcpp_mcem.cpp
remphasis.Rcheck/00_pkg_src/remphasis/src/RcppExports.cpp
remphasis.Rcheck/00_pkg_src/remphasis/src/rinit.cpp
remphasis.Rcheck/00_pkg_src/remphasis/src/rinit.h
remphasis.Rcheck/00_pkg_src/remphasis/src/rsbplx.cpp
remphasis.Rcheck/00check.log
remphasis.Rcheck/00install.out
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/DESCRIPTION
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/Meta/features.rds
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/Meta/package.rds
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/NAMESPACE
remphasis.Rcheck/R_check_bin/R
remphasis.Rcheck/R_check_bin/Rscript
remphasis.Rcheck/00_pkg_src/remphasis/src/symbols.rds
remphasis.Rcheck/remphasis-Ex.pdf
remphasis.Rcheck/remphasis-Ex.R
remphasis.Rcheck/remphasis-Ex.Rout
remphasis.Rcheck/remphasis-Ex.timings
remphasis.Rcheck/remphasis/DESCRIPTION
remphasis.Rcheck/remphasis/help/aliases.rds
remphasis.Rcheck/remphasis/help/AnIndex
remphasis.Rcheck/remphasis/help/paths.rds
remphasis.Rcheck/remphasis/help/remphasis.rdb
remphasis.Rcheck/remphasis/help/remphasis.rdx
remphasis.Rcheck/remphasis/html/00Index.html
remphasis.Rcheck/remphasis/html/R.css
remphasis.Rcheck/remphasis/include/augment_tree.hpp
remphasis.Rcheck/remphasis/include/dyn_lib.hpp
remphasis.Rcheck/remphasis/include/emphasis.hpp
remphasis.Rcheck/remphasis/include/model_helpers.hpp
remphasis.Rcheck/remphasis/include/plugin.h
remphasis.Rcheck/remphasis/include/plugin.hpp
remphasis.Rcheck/remphasis/include/sbplx.hpp
remphasis.Rcheck/remphasis/include/state_guard.hpp
remphasis.Rcheck/remphasis/INDEX
remphasis.Rcheck/remphasis/libs/symbols.rds
remphasis.Rcheck/remphasis/Meta/features.rds
remphasis.Rcheck/remphasis/Meta/hsearch.rds
remphasis.Rcheck/remphasis/Meta/links.rds
remphasis.Rcheck/remphasis/Meta/nsInfo.rds
remphasis.Rcheck/remphasis/Meta/package.rds
remphasis.Rcheck/remphasis/Meta/Rd.rds
remphasis.Rcheck/remphasis/NAMESPACE
remphasis.Rcheck/remphasis/R/remphasis
remphasis.Rcheck/remphasis/R/remphasis.rdb
remphasis.Rcheck/remphasis/R/remphasis.rdx
remphasis_0.1.1.tar.gz
remphasis_0.1.2.tar.gz
remphasisddd_1.0.tar.gz
remphasisrpd1_1.0.tar.gz
remphasisrpd5_1.0.tar.gz
remphasisrpd5c_1.0.tar.gz
remphasis.Rcheck/00_pkg_src/remphasis/src/E_step-0733b643.o.tmp
remphasis.Rcheck/00_pkg_src/remphasis/src/dyn_wrapper-155fc155.o.tmp
remphasis.Rcheck/00_pkg_src/remphasis/inst/include/state_guard.hpp
remphasis.Rcheck/00_pkg_src/remphasis/inst/include/sbplx.hpp
remphasis.Rcheck/00_pkg_src/remphasis/inst/include/plugin.hpp
remphasis.Rcheck/00_pkg_src/remphasis/inst/include/plugin.h
remphasis.Rcheck/00_pkg_src/remphasis/inst/include/model_helpers.hpp
remphasis.Rcheck/00_pkg_src/remphasis/inst/include/emphasis.hpp
remphasis.Rcheck/00_pkg_src/remphasis/inst/include/dyn_lib.hpp
remphasis.Rcheck/00_pkg_src/remphasis/inst/include/augment_tree.hpp
remphasis.Rcheck/00_pkg_src/remphasis/DESCRIPTION
remphasis.Rcheck/00_pkg_src/remphasis/src/rinit-73f72146.o.tmp
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/help/aliases.rds
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/help/AnIndex
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/help/paths.rds
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/help/remphasis.rdb
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/help/remphasis.rdx
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/html/00Index.html
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/html/R.css
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/include/augment_tree.hpp
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/include/dyn_lib.hpp
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/include/emphasis.hpp
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/include/model_helpers.hpp
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/include/plugin.h
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/include/plugin.hpp
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/include/sbplx.hpp
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/include/state_guard.hpp
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/INDEX
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/libs/symbols.rds
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/Meta/hsearch.rds
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/Meta/links.rds
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/Meta/nsInfo.rds
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/Meta/Rd.rds
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/R/remphasis
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/R/remphasis.rdb
remphasis.Rcheck/00LOCK-remphasis/00new/remphasis/R/remphasis.rdx
remphasis.Rcheck/00_pkg_src/remphasis/man/emphasis-internal.Rd
